.chat {
  display: flex;
  height: 100vh; // Đảm bảo chiều cao tối đa
  background-color: #121212;

  .recent-chat, .chat-info {
    overflow-y: auto;
    scrollbar-width: thin; // Firefox
    scrollbar-color: #555 #121212; // Firefox

    &::-webkit-scrollbar {
      width: 10px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #555;
      border-radius: 4px;
      border: 2px solid #121212;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .recent-chat {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid white;
  }

  .chat-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}