.contact-page {
    display: flex;
    height: 100vh;
    background-color: #121212;
    // gap: 20px;
    // padding: 20px;
  
    .friend-list-container {
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: #555 #121212;
  
      &::-webkit-scrollbar {
        width: 8px;
        background: transparent;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 4px;
        border: 2px solid #121212;
      }
  
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }
  
    .social-hub-container {
      flex: 0 0 25%;
      border-right: 1px solid #ffffff;
    //   padding-right: 20px;
    }
  
    .friend-list-container {
      flex: 1;
    //   padding-left: 20px;
    }
  }