.opening-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
  }
  
  .welcome-text {
    font-size: 4rem;
    font-weight: bold;
    color: #6fcf97;
  }
  
  .reload-icon {
    margin-top: 20px;
    font-size: 3rem;
    color: yellow;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: rotate(180deg);
    }
  }
  
  .error-text {
    margin-top: 10px;
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
  }
  